$px1:   2px;
$px2:   4px;
$px3:   8px;
$px4:  16px;
$px5:  32px;
$px6:  64px;
$px7: 128px;
$px8: 256px;
$px9: 512px;

.kiwi, .kiwi * { margin: 0; padding: 0; }

/*** POSITIONING ***/
.relative { position: relative; }
.absolute { position: absolute; }
.fixed    { position:    fixed; }

/*** ABSOLUTE/FIXED POSITIONING ***/
.top-left     {    top: 0;  left: 0; }
.top          {    top: 0;           }
.top-right    {    top: 0; right: 0; }
.right        {  right: 0;           }
.bottom-right { bottom: 0; right: 0; }
.bottom       { bottom: 0;           }
.bottom-left  { bottom: 0;  left: 0; }
.left         {   left: 0;           }

/*** DISPLAY ***/
.hidden       { display:         none; }
.inline       { display:       inline; }
.block        { display:        block; }
.inline-block { display: inline-block; }

.flex { display: flex; }
.grid { display: grid; }

/*** GRID TEMPLATES ***/
@mixin grid-template($columns, $rows) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows:    repeat($rows,    1fr);
}
/*   columns x rows   */
.grid-2x2 { @include grid-template(2, 2); }
.grid-2x3 { @include grid-template(2, 3); }
.grid-2x4 { @include grid-template(2, 4); }
.grid-2x5 { @include grid-template(2, 5); }
.grid-3x2 { @include grid-template(3, 2); }
.grid-3x3 { @include grid-template(3, 3); }
.grid-3x4 { @include grid-template(3, 4); }
.grid-3x5 { @include grid-template(3, 5); }
.grid-4x2 { @include grid-template(4, 2); }
.grid-4x3 { @include grid-template(4, 4); }
.grid-4x4 { @include grid-template(4, 4); }
.grid-4x5 { @include grid-template(4, 5); }
.grid-5x2 { @include grid-template(5, 2); }
.grid-5x3 { @include grid-template(5, 3); }
.grid-5x4 { @include grid-template(5, 4); }
.grid-5x5 { @include grid-template(5, 5); }

/*** FLEX TEMPLATES ***/
.flex-column { display: flex; flex-direction: column; }
.flex-row    { display: flex; flex-direction:    row; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jc-center  { justify-content:        center; }
.js-around  { justify-content:  space-around; }
.jc-evenly  { justify-content:  space-evenly; }
.jc-between { justify-content: space-between; }

.ai-center { align-items: center; }

/*** FLEX/GRID GAPS ***/
.gap1 { gap: $px1; }
.gap2 { gap: $px2; }
.gap3 { gap: $px3; }
.gap4 { gap: $px4; }
.gap5 { gap: $px5; }
.gap6 { gap: $px6; }
.gap7 { gap: $px7; }
.gap8 { gap: $px8; }
.gap9 { gap: $px9; }

/*** FLEX GROW ***/
.grow1 { flex-grow: 1; }
.grow2 { flex-grow: 2; }
.grow3 { flex-grow: 3; }
.grow4 { flex-grow: 4; }
.grow5 { flex-grow: 5; }
.grow6 { flex-grow: 6; }
.grow7 { flex-grow: 7; }
.grow8 { flex-grow: 8; }
.grow9 { flex-grow: 9; }
/* makes all children grow equally */
.grow-children > * { flex-grow: 1; }


/*** HEIGHTS | WIDTHS ***/
.full-height, .full { height: 100%; }
.full-width,  .full { width:  100%; }
.viewport-height, .viewport { height: 100vh; }
.viewport-width,  .viewport { width:  100vw; }
.viewport-max-height { max-height: 100vh; }
.viewport-max-width  { max-width:  100vw; }
.viewport-max { max-height: 100vh; max-width: 100vw; }

/*** WIDTH IN PX ***/
.w1 { width: $px1; }
.w2 { width: $px2; }
.w3 { width: $px3; }
.w4 { width: $px4; }
.w5 { width: $px5; }
.w6 { width: $px6; }
.w7 { width: $px7; }
.w8 { width: $px8; }
.w9 { width: $px9; }
.w12 { width: $px1 + $px2; }
.w23 { width: $px2 + $px3; }
.w34 { width: $px3 + $px4; }
.w45 { width: $px4 + $px5; }
.w56 { width: $px5 + $px6; }
.w67 { width: $px6 + $px7; }
.w78 { width: $px7 + $px8; }
.w89 { width: $px8 + $px9; }

/*** WIDTH AS A FRACTION ***/
.w-15 { width: 100% * (1 / 5); }
.w-25 { width: 100% * (2 / 5); }
.w-35 { width: 100% * (3 / 5); }
.w-45 { width: 100% * (4 / 5); }
.w-23 { width: 100% * (1 / 3); }
.w-23 { width: 100% * (2 / 3); }
.w-12 { width: 100% * (1 / 2); }

/*** HEIGHT IN PX ***/
.h1 { height: $px1; }
.h2 { height: $px2; }
.h3 { height: $px3; }
.h4 { height: $px4; }
.h5 { height: $px5; }
.h6 { height: $px6; }
.h7 { height: $px7; }
.h8 { height: $px8; }
.h9 { height: $px9; }

/*** HEIGHT AS A FRACTION ***/
.h-12 { height: 100% * (1 / 2)}
.h-45 { height: 100% * (4 / 5);}

/*** BORDER RADIUS ***/
.br1 { border-radius: $px1; }
.br2 { border-radius: $px2; }
.br3 { border-radius: $px3; }
.br4 { border-radius: $px4; }
.br5 { border-radius: $px5; }
.br6 { border-radius: $px6; }
.br7 { border-radius: $px7; }
.br8 { border-radius: $px8; }
.br9 { border-radius: $px9; }
/* makes elements round */
.br-max, .round { border-radius: 9999px; }

/*** PADDINGS ***/
.pad1 { padding: $px1; }
.pad2 { padding: $px2; }
.pad3 { padding: $px3; }
.pad4 { padding: $px4; }
.pad5 { padding: $px5; }
.pad6 { padding: $px6; }
.pad7 { padding: $px7; }
.pad8 { padding: $px8; }
.pad9 { padding: $px9; }

/*** MARGINS ***/
.mar1 { margin: $px1; }
.mar2 { margin: $px2; }
.mar3 { margin: $px3; }
.mar4 { margin: $px4; }
.mar5 { margin: $px5; }
.mar6 { margin: $px6; }
.mar7 { margin: $px7; }
.mar8 { margin: $px8; }
.mar9 { margin: $px9; }

/*** MARGIN-TOP ***/
.mart1 { margin-top: $px1; }
.mart2 { margin-top: $px2; }
.mart3 { margin-top: $px3; }
.mart4 { margin-top: $px4; }
.mart5 { margin-top: $px5; }
.mart6 { margin-top: $px6; }
.mart7 { margin-top: $px7; }
.mart8 { margin-top: $px8; }
.maart9 { margin-top: $px9; }

/*** MARGIN-RIGHT ***/
.mr1 { margin-right: $px1; }
.mr2 { margin-right: $px2; }
.mr3 { margin-right: $px3; }
.mr4 { margin-right: $px4; }
.mr5 { margin-right: $px5; }
.mr6 { margin-right: $px6; }
.mr7 { margin-right: $px7; }
.mr8 { margin-right: $px8; }
.mr9 { margin-right: $px9; }

/*** MARGIN-TOP/BOTTOM ***/
.m-tb1 { margin: $px1 0; }
.m-tb2 { margin: $px2 0; }
.m-tb3 { margin: $px3 0; }
.m-tb4 { margin: $px4 0; }
.m-tb5 { margin: $px5 0; }
.m-tb6 { margin: $px6 0; }
.m-tb7 { margin: $px7 0; }
.m-tb8 { margin: $px8 0; }
.m-tb9 { margin: $px9 0; }

/*** SQUARE SIZES ***/
.square1 { width: $px1; height: $px1; }
.square2 { width: $px2; height: $px2; }
.square3 { width: $px3; height: $px3; }
.square4 { width: $px4; height: $px4; }
.square5 { width: $px5; height: $px5; }
.square6 { width: $px6; height: $px6; }
.square7 { width: $px7; height: $px7; }
.square8 { width: $px8; height: $px8; }
.square9 { width: $px9; height: $px9; }

.border-box { box-sizing: border-box; }

.pointer:hover { cursor: pointer; }

.gray { filter: grayscale(1); }

/*** OPACITY ***/
.opacity-0  { opacity:   0; }
.opacity-01 { opacity: 10%; }
.opacity-02 { opacity: 20%; }
.opacity-03 { opacity: 30%; }
.opacity-04 { opacity: 40%; }
.opacity-05 { opacity: 50%; }
.opacity-06 { opacity: 60%; }
.opacity-07 { opacity: 70%; }
.opacity-08 { opacity: 80%; }
.opacity-09 { opacity: 90%; }
.opacity-1  { opacity:   1; }

.overflow-hidden { overflow: hidden; }
.overflow-y-auto { overflow-y: auto; }
.overflow-y-hidden { overflow-y: hidden; }
.float-l { float: left; }
.float-r { float: right; }